.blogHeader {
    margin-top: 0;
}
.article {
    padding: 2rem 0;

    > p {
        max-width: 1200px;
        line-height: 1.7;
        margin: 0 auto 1rem;
        font-size: 1rem;
        padding: 1rem 1.5rem;

        &:first-child {
            padding-top: 0;
            margin-top: 0;
        }

        &:last-child {
            padding-bottom: 0;
            margin-bottom: 0;
        }

        @media (min-width: 768px) {
            font-size: 1.125rem;
            padding: 2rem 2rem 1rem;
        }

        @media (min-width: 1024px) {
            padding: 1rem 3rem 1rem;
        }

        @media (min-width: 1280px) {
            padding-top: 2rem;
            padding-left: 0;
        }
    }
}