.pageTitle {
    margin-top: 0
}
.featuredTitle {
    font-size: 1.25rem;
    text-transform: uppercase;
    letter-spacing: 0.05em;
    margin-bottom: var(--space-6);
    @media (max-width: 768px) {
        margin-bottom: var(--space-4);
    }
}